@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');;
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import "tailwindcss";

.bg-300\% {
  background-size: 300% 300%;
}

.perspective-1000 {
  perspective: 1000px;
}

@theme {
  --font-source: "Source Sans 3", sans-serif;
  --font-opes: "Black Ops One", system-ui;
  --font-bree:  "Bree Serif", serif;
}